

.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--black-color);
    margin-right: 93px;
}

.header__logo:hover {
    color: var(--black-color);
}

.header__logo:focus {
    color: var(--black-color);
}

.header__logo--web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--main-blue-color);
}
.footer__logo--white {
    color: var(--white-color);
}